h2{
  width:90%;
  text-align: center;
  font-family: 'Wellfleet';

}

header{
  font-family: 'Wellfleet';
  font-color:#002F2F;
  font-size:2em;
}
button{
color:black;
background-color: #046380;
width: 50%;

}

body{
background-color: #EFECCA;
}
#leftImage{
width: 50%;
display: inline-block;


}
#rightImage{
width:50%;
display: inline-block;

}
