h2 {
  font-family: 'Wellfleet';
  font-color: #002F2F;
}
header{
  font-family: 'Wellfleet';
  font-color:#002F2F;
  font-size: 3em;
}
button{
color:black;
background-color: #046380;

}

body{
background-color: #EFECCA;
}
#leftImage{
width: 30%;
height: 20%;
display: inline-block;


}
#rightImage{
width:30%;
height: 20%;
display: inline-block;

}


