h2 {
  font-family: 'Wellfleet';
  font-color: #002F2F;
}
header{
  font-family: 'Wellfleet';
  font-color:#002F2F;
  font-size: 3em;
}
button{
color:black;
background-color: #046380;

}

body{
background-color: #EFECCA;
}
#leftImage{
width: 400px;
height: 300px;
float: left;
/*display: inline-block;*/


}
#rightImage{
width: 400px;
height: 300px;
display: inline-block;

}

#chartContainer{
vertical-align: bottom;
}

@media screen and (max-width: 690px) {
    .mobileClass {
        width: 40%;
        height: ;
    }
}
